/* app.css */

:root {
  /* colors */
  --color-background-card: #F3F4F6;
  --color-primary: #3B518B;
  --color-dark-text: #353535;
  --color-success: #008b02;
  --color-danger: #f44336;
  --color-neutral: #545454;
  --color-button-default: #435b9f;
  --color-button-hover: #384d86;
  --color-background-dark: #B8BECE;
  --color-pure-white: #ffffff;

  /* fonts */
  --font-main: 'Press Start 2P', cursive;
  line-height: 1.4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* shadows */
  --shadow-default: 2px 2px 0px black;
  --shadow-light: 2px 2px 0px black;
  --shadow-extra-light: 1px 1px 0px black;
}

/* global styles */
body {
  background-color: var(--color-background-dark);
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  color: var(--color-neutral);
}

html {
  overflow-y: scroll;
}
html::-webkit-scrollbar-track {
  background: --color-background-dark;
}
html::-webkit-scrollbar-thumb {
  background-color: --color-background-dark;
  border-radius: 6px;
  border: 0px solid var(--color-pure-white);
}
html::-webkit-scrollbar {
  width: 5px;
}


h1 {
  color: var(--color-primary);
  font-size: 1.8em;
}

h2 {
  color: var(--color-dark-text);
  font-size: 1.3em;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;

}

/* global resets */
p, li, a {
  color: var(--color-dark-text);
  font-family: var(--font-main);
}

p {
  text-align: center;
}

li {
  font-size: 6pt;
  margin-top: 12px;
  text-align: left;
}


/* 1. generic card style */

.card {
  font-size: 0.8em; /* Standard font-size, can be overridden */
  text-align: center; /* Default text alignment */
  background-color: var(--color-background-card);

  margin: 10px auto; /* Centered with vertical spacing */
  max-width: 400px; /* Standard max-width, can be overridden */
  
  padding: 10px 20px; /* Standard padding, adjust if necessary */

  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: var(--shadow-default);
}

/* 2. specific adjustments */

/* header card */ 
.header-card {
  font-size: 1em;
}

/* header container */
.header-container {
  font-size: 0.6em;
  background-color: #ccd0dcd9;

  margin-top: 2%;
  margin-bottom: 15px;

  width: 88%;
  max-width: 450px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;

  border-radius: 10px;
  box-shadow: 2px 2px 0px black;
  border: 2px solid black;

  display: inline-block;
}

/* High score container */
.high-score-container {
  /* inherits all styles from .card */
  font-size: 0.7em;
  width: 65%;
  max-width: 300px;
}

/* footer card */
.footer-card {
  /* inherits all styles from .card */
  width: 75%;
  max-width: 600px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* results details card */
.results-details-card {
  /* inherits all styles from .card */
  text-align: left;
  font-size: 0.8em;
}

/* 3. base button style */
.button {
  background-color: var(--color-button-default);

  font-size: 1.2em;
  font-family: var(--font-main);
  text-align: center;

  padding: 10px 20px;

  touch-action: manipulation;
  cursor: pointer;
  transition: background-color 0.3s;

  color: white;

  border: 2px solid black;
  box-shadow: var(--shadow-default);
  border-radius: 10px;

  display: inline-block;
}

/* 4. hover effect for buttons */
.button:hover {
  background-color: var(--color-button-hover);
}

/* 5. modifier classes */

/*buy button */
.button.buy {
  background-color: var(--color-success);
  font-size: 4em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.button.buy:hover {
  background-color: #016101;
}

/*sell button */
.button.sell {
  background-color: var(--color-danger);
  font-size: 4em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.button.sell:hover {
  background-color: #a62525;
}

/* stop button */
.button.stop {
  background-color: #878282ae;
  /* inherits other styles from .button */
}

.button.stop:hover {
  background-color: #6b6b6b;
}

/* utility classes */
.text-small {
  font-size: 0.7em;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.hidden-footer {
  transform: translateX(0%) translateY(300%);
}