:root {
  /* keep the global font, but remove background color or color-scheme settings */
  font-family: 'Press Start 2P', cursive;
  background-color: #B8BECE;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  overflow-y: scroll;
}

/* Customize the scrollbar track */
html::-webkit-scrollbar-track {
  background: #B8BECE; /* match background color */
}

/* Customize the scrollbar thumb */
html::-webkit-scrollbar-thumb {
  background-color: #B8BECE; /* match background color */
  border-radius: 6px;
  border: 0px solid #ffffff;
}

/* Set the scrollbar width */
html::-webkit-scrollbar {
  width: 5px; /* Adjust width as needed */
}

h1 {
  color: #3B518B;
  font-size: 2em;
}

/* global resets */
body {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  color: #545454;
}

p {
  font-family: 'Press Start 2P', cursive;
  color: #353535;
  text-align: center;
}

li {
  font-family: 'Press Start 2P', cursive;
  color: #353535;
  font-size: 6pt;
  margin-top: 12px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* light vs. dark theme? optional. minimal approach shown here. */
@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}